html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(207, 207, 207);
}

body {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(226, 113, 21),
    rgb(165, 24, 71)
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-style: italic;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 500px;
  max-width: 25%;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 2rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.controls span {
  font-size: 1.5em;
}

.controls__break,
.controls__session {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__session-elements,
.controls__break-elements {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

i[id*="increment"],
i[id*="decrement"] {
  cursor: pointer;
}

i[id*="increment"]:hover,
i[id*="decrement"]:hover {
  color: white;
  transform: scale(1.2);
}

.timer {
  min-height: 280px;
  max-width: 280px;
  margin: 40px auto;
  border-radius: 200rem;
  position: relative;
}

.timer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#time-left {
  font-size: 3rem;
}

.main-controls {
  display: flex;
  justify-content: space-evenly;
}

.main-control {
  padding: 1.5rem 1.6rem;
  border-radius: 40rem;
  background-color: rgba(255, 255, 255, 0.192);
  border: none;
  transition: background-color 0.2s;
  cursor: pointer;
  outline: none;
}

.main-control i {
  font-size: 1rem;
  color: rgb(226, 226, 226);
}

.main-control:hover {
  background-color: rgba(255, 255, 255, 0.356);
}

circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 40%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60%;
  }

  h1 {
    font-size: 3rem;
  }
}
